.container {
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 10px;
}
.item{
    margin: 10px;
    padding: 10px;
    background-color: #274f8e;
    color: #ffc044;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    transition-property: all;
    transition-duration: 1s;
}
.item:hover{
    box-shadow: 5px 5px 2px 1px #274f8e;
    font-size: 20px;
    background-color: #ffc044;
    color: #274f8e;
    border: 1px solid #274f8e;
}